<!DOCTYPE html>
<html>
  <head>
    <title>iRich 愛記帳</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
              <a class="navbar-brand" href="/">iRich 愛記帳</a>       
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right navbar-form">
          <a href="/accounts/create"><button class="btn btn-success">新增消費</button></a>            
            </div>
      </div><!--/.navbar-collapse -->   
      </div>
    </nav>
    
    <div class="container main-container">
      <h2>更新消費</h2>
      <form action="/accounts/<%= account.id %>/update" method="POST">
        <input class="form-control" type="text" name="title" value="<%= account.title %>" placeholder="請輸入消費標題">
        <select class="form-control" name="type" value="<%= account.type %>">
          <option <%= account.type === 'eat' ? 'selected' : '' %> value="eat">食</option>
          <option <%= account.type === 'cloth' ? 'selected' : '' %> value="cloth">衣</option>
          <option <%= account.type === 'home' ? 'selected' : '' %> value="home">住</option>
          <option <%= account.type === 'traffic' ? 'selected' : '' %> value="traffic">行</option>
          <option <%= account.type === 'play' ? 'selected' : '' %> value="play">育樂</option>
        </select>

        <input class="form-control" type="number" name="cost" value="<%= account.cost %>" placeholder="請輸入消費花費">
        <hr>
        <button class="btn btn-primary btn-block" type="submit">送出</button>
      </form>
    </div>
  </body>
</html>
